@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@source "./src/react/**/*.tsx";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-accent: #C30707;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-accent: #C30707;
}
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@theme {
  --font-sans: 'Lato', 'sans-serif';
  --color-neutral-black: #161616;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer base {
  :root {
    /* --bg-color: #C30707; */
    --text-color: #1a1a1a;
    --accent-color: #C30707;
    --card-bg: #f5f5f5;
    --border-color: #e0e0e0;
    --shadow-pulse-start-color: rgba(0, 0, 0, 0.4);
    --shadow-pulse-end-color: rgba(0, 0, 0, 0);
  }

  [data-theme="dark"] {
    --bg-color: #161616;
    --text-color: #ffffff;
    --accent-color: #C30707;
    --card-bg: #141414;
    --border-color: #404040;
    --shadow-pulse-start-color: rgba(255, 255, 255, 0.4);
    --shadow-pulse-end-color: rgba(255, 255, 255, 0);
  }

  html {
    @apply bg-(--bg-color)! text-(--text-color) transition-colors duration-300;
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen;
  }

  a {
    @apply text-[var(--accent-color)] no-underline hover:underline;
  }
}

@layer components {
  body {
    max-width: 100% !important;
  }

  #download-cv-button {
    @apply btn dark:bg-slate-100 btn-neutral dark:text-black dark:hover:bg-slate-200 flex items-center gap-2;
  }

  section#about-me {
    @apply bg-accent dark:bg-neutral-black pt-32 md:pt-36 dark:border-b-2 dark:border-accent mx-5 rounded-b-2xl;
  }
}

@layer utilities {
  section#about-me h1 {
    @apply text-sm md:text-4xl m-0! font-normal uppercase text-white/35 inline-flex flex-col gap-6 leading-4 md:leading-12;
  }

  section#testimonials {
    @apply container mx-auto py-20 px-5 flex flex-col gap-20;

    .cards-container {
      @apply flex flex-wrap gap-y-10 justify-around items-start;
    }

    .card {
      @apply flex flex-col justify-center items-center px-2 w-full md:max-w-[320px];

      .avatar {
        @apply rounded-full overflow-hidden object-cover;
      }

      .name {
        @apply mt-3 font-medium text-xl mb-0;
      }

      .position {
        @apply text-slate-600 font-medium text-sm mt-1 mb-0 text-center;
      }

      .quote {
        @apply text-center mt-4 mb-0;
      }
    }
  }
}

@utility prose {
  picture {
    @apply m-0;
  }

  blockquote {
    @apply border-0 p-0 m-0 text-slate-400 text-base not-italic;
  }
}

.bg-black-noise {
  background-image: url('../images/black-noise.jpg');

  @apply w-full h-full absolute top-0 left-0 opacity-20 pointer-events-none;
}
