@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@theme {
  --font-sans: 'Lato', 'sans-serif';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* --bg-color: #C30707; */
    --text-color: #1a1a1a;
    --accent-color: #C30707;
    --card-bg: #f5f5f5;
    --border-color: #e0e0e0;
    --shadow-pulse-start-color: rgba(0, 0, 0, 0.4);
    --shadow-pulse-end-color: rgba(0, 0, 0, 0);
  }

  [data-theme="dark"] {
    --bg-color: #161616;
    --text-color: #ffffff;
    --accent-color: #C30707;
    --card-bg: #141414;
    --border-color: #404040;
    --shadow-pulse-start-color: rgba(255, 255, 255, 0.4);
    --shadow-pulse-end-color: rgba(255, 255, 255, 0);
  }

  html {
    @apply bg-[var(--bg-color)] text-[var(--text-color)] transition-colors duration-300;
  }

  body {
    @apply min-h-screen;
  }

  a {
    @apply text-[var(--accent-color)] no-underline hover:underline;
  }
}

@layer components {
  body {
    max-width: 100% !important;
  }

  #download-cv-button {
    @apply btn dark:bg-slate-100 btn-neutral dark:text-black dark:hover:bg-slate-200 flex items-center gap-2;
  }
}

.bg-black-noise {
  background-image: url('../images/black-noise.jpg');

  @apply w-full h-full absolute top-0 left-0 opacity-20 pointer-events-none;
}
