---
interface Props {
  currentLang: string;
}

import { getTranslations } from '../i18n/translations';

const t = getTranslations(Astro.props.currentLang);
---

<footer class="py-8 text-center">
  <div class="max-w-[1200px] mx-auto px-8">
    <p class="opacity-70">&copy; {new Date().getFullYear()} {t.name}. {t.copyright}</p>
  </div>
</footer>
